
<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">

  <meta name="author" content="">

  <title>Rest API - alpin_xploit</title>

  <iframe src="vendor/play.mp3" hidden="hidden" allow="autoplay"; encrypt-media></iframe>

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

  <link href="css/ruang-admin.min.css" rel="stylesheet">

  <script>

window['CboxReady'] = function (Cbox) {

	Cbox('button', '6-852538-vNvLf8');

}

</script>

<script src="" async></script>

</head>



<body id="page-top">

  <div id="wrapper">

    <!-- Sidebar -->

    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">

      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="https://i.ibb.co/jZrYHqz/logo2.jpg">

        <div class="sidebar-brand-icon">

        	<img src="https://i.ibb.co/jZrYHqz/logo2.jpg">

        </div>

        <div class="sidebar-brand-text mx-3">alpin_xploit API</div>

      </a>

      <hr class="sidebar-divider my-0">

      <li class="nav-item active">

        <a class="nav-link" href="index.html">

          <i class="fas fa-fw fa-code"></i>

          <span>Beranda</span></a>

      </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">

        API Features

      </div>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"

          aria-expanded="true" aria-controls="collapseBootstrap">

          <i class="fas fa-fw fa-arrow-down"></i>

          <span>Social Media API</span>

        </a>

        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Media Features</h6>

            <a class="collapse-item" href="api/ytmp3?link=https://youtu.be/lo56lQQiBUI">YouTube Audio</a>

            <a class="collapse-item" href="api/ytmp4?link=https://youtu.be/lo56lQQiBUI">YouTube Video</a>

            <a class="collapse-item" href="api/tiktod/?url=url&apikey=alpinofc">Tiktok Downloader</a>

            <a class="collapse-item" href="api/tiktod/stalk/?username=Username&apikey=alpinofc">Tiktok Stalk</a>

            </div>

        </div>

      </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true"

          aria-controls="collapseIslamic">

          <i class="fas fa-fw fa-table"></i>

          <span>Islamic Features</span>

        </a>

        <div id="collapseIslamic" class="collapse" aria-labelledby="headingIslamic" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Islamic  API</h6>

            <a class="collapse-item" href="api/hadits?kitab=bukhari&nomor=52&apikey=alpinofc">Hadits Shahih</a>

            <a class="collapse-item" href="api/quran?surah=1&ayat=2&apikey=alpinofc">Al Qur'an</a>

            <a class="collapse-item" href="api/muslim/tahlil?apikey=alpinofc">Doa Tahlil</a>

            <a class="collapse-item" href="api/muslim/wirid?apikey=alpinofc">Doa Wirid</a>

            <a class="collapse-item" href="api/muslim/asmaulhusna?apikey=alpinofc">Asmaul Husna</a>

            <a class="collapse-item" href="api/muslim/doaharian?apikey=alpinofc">Doa Harian</a>

            <a class="collapse-item" href="api/muslim/ayatkursi?apikey=alpinofc">Ayat Kursi</a>

            <a class="collapse-item" href="api/kisahnabi?nabi=muhammad&apikey=alpinofc">Kisah Nabi</a>

            <a class="collapse-item" href="api/muslim/niatshalat?apikey=alpinofc">Niat Shalat</a>

            <a class="collapse-item" href="api/muslim/bacaanshalat?apikey=alpinofc">Bacaan Shalat</a>

            <a class="collapse-item" href="api/jadwalshalat?kota=jakartautara&apikey=alpinofc">Jadwal Shalat</a>

          </div>

        </div>

      </li>

       <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKodepos" aria-expanded="true"

          aria-controls="collapseKodepos">

          <i class="fas fa-fw fa-search"></i>

          <span>Images API</span>

        </a>

        <div id="collapseKodepos" class="collapse" aria-labelledby="headingKodepos" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Images API</h6>

            <a class="collapse-item" href="api/wallpaper/teknologi?apikey=alpinofc">Wallpaper Teknologi</a>

            <a class="collapse-item" href="api/wallpaper/programming?apikey=alpinofc">Wallpaper Programming</a>

            <a class="collapse-item" href="api/wallpaper/cyberspace?apikey=alpinofc">Wallpaper CyberSpace</a>

            <a class="collapse-item" href="api/wallpaper/muslim?apikey=alpinofc">Wallpaper Muslim</a>

            <a class="collapse-item" href="api/wallpaper/pegunungan?apikey=alpinofc">Wallpaper Mountain View</a>

            </div>

            </div>

            </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGithub"

          aria-expanded="true" aria-controls="collapseGithub">

          <i class="fas fa-fw fa-book"></i>

          <span>Random API</span>

        </a>

        <div id="collapseGithub" class="collapse" aria-labelledby="headingGithub" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Random API</h6>

            <a class="collapse-item" href="api/randomquote?apikey=alpinofc">Quotes</a>

            <a class="collapse-item" href="api/randomquote/muslim?apikey=alpinofc">Quotes Islami</a>

            <a class="collapse-item" href="api/quotes/kanye?apikey=alpinofc">Quotes Kanye</a>

            <a class="collapse-item" href="api/random/asmaulhusna?apikey=alpinofc">Asmaul Husna</a>

            <a class="collapse-item" href="api/random/meme?apikey=alpinofc">Meme</a>

            <a class="collapse-item" href="api/katailham">Kata Ilham</a>

            <a class="collapse-item" href="api/citacita">Cita Cita Audio</a>

            <a class="collapse-item" href="api/fmylife">Fuck My Life</a>

            <a class="collapse-item" href="api/blackpink">Random Blackpink</a>

            <a class="collapse-item" href="api/exo">Random Exo</a>

            <a class="collapse-item" href="api/bts">Random BTS</a>

            <a class="collapse-item" href="api/faktaunik">Fakta Unik</a>

            <a class="collapse-item" href="api/pantun">Random Pantun</a>

          </div>

        </div>

      </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseText" aria-expanded="true"

          aria-controls="collapseText">

          <i class="fas fa-fw fa-table"></i>

          <span>Photooxy API</span>

        </a>

        <div id="collapseText" class="collapse" aria-labelledby="headingText" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Photooxy API</h6>

            <a class="collapse-item" href="api/textmaker?text=halo&text2=hai&theme=glitch&apikey=alpinofc">Glitch</a>

            <a class="collapse-item" href="api/textmaker?text=halo&text2=hai&text3=gwganteng&theme=google-suggestion&apikey=alpinofc">Google Suggestion</a>

            <a class="collapse-item" href="api/textmaker/game?text=halo&text2=hai&theme=pubg&apikey=alpinofc">PUBG</a>

            <a class="collapse-item" href="api/textmaker/game?text=halo&text2=hai&theme=battlefield&apikey=alpinofc">BattleField</a>

            <a class="collapse-item" href="api/textmaker/senja?text=Zhirrr&theme=coffee-cup&apikey=alpinofc">Coffee Cup</a>

            <a class="collapse-item" href="api/textmaker/senja?text=Zhirrr&theme=coffee-cup2&apikey=alpinofc">Coffee Cup 2</a>

            <a class="collapse-item" href="api/textmaker/metallic?text=Zhirrr&theme=neon&apikey=alpinofc">Neon</a>

            <a class="collapse-item" href="api/textmaker/metallic?text=Zhirrr&theme=glow&apikey=alpinofc">Glow</a>

            <a class="collapse-item" href="api/textmaker/alam?text=Zhirrr&theme=summer&apikey=alpinofc">Summer</a>

            <a class="collapse-item" href="api/textmaker/alam?text=Zhirrr&theme=flower&apikey=alpinofc">Flower</a>

          </div>

        </div>

      </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnime" aria-expanded="true"

          aria-controls="collapseAnime">

          <i class="fas fa-fw fa-bullseye"></i>

          <span>Anime/Manga API</span>

        </a>

        <div id="collapseAnime" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Anime/Manga Features</h6>

            <a class="collapse-item" href="api/anime/kusonime?search=planetarian&apikey=alpinofc">Kusonime</a>

            <a class="collapse-item" href="api/manga?search=kimetsu no yaiba&apikey=alpinofc">Manga</a>

            <a class="collapse-item" href="api/waifu">Random Waifu</a>

            <a class="collapse-item" href="api/husbu">Random Husbu</a>

            <a class="collapse-item" href="api/nekonime">Random Nekonime</a>

            <a class="collapse-item" href="api/wallpaper/desktop">Wallpaper Desktop</a>

            <a class="collapse-item" href="api/wallpaper/mobile">Wallpaper Mobile</a>

            <a class="collapse-item" href="api/nsfwneko">NSFW Neko</a>

            <a class="collapse-item" href="api/nsfwmaid">NSFW Maid</a>

            <a class="collapse-item" href="api/nsfwfeet">NSFW Feet</a>

            <a class="collapse-item" href="api/nsfwglasses">NSFW Glasses</a>

            <a class="collapse-item" href="api/nsfwpanties">NSFW Panties</a>

            <a class="collapse-item" href="api/nsfwschool">NSFW School</a>

            <a class="collapse-item" href="api/nsfwtentacles">NSFW Tentacles</a>

            <a class="collapse-item" href="api/nsfwthighs">NSFW Thighs</a>

            <a class="collapse-item" href="api/yuri">Yuri</a>

            <a class="collapse-item" href="api/bdsm">Bdsm</a>

            <a class="collapse-item" href="api/hentai">Random Hentai</a>

          </div>

        </div>

      </li>

      <li class="nav-item">

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGames" aria-expanded="true" aria-controls="collapseForm">

                    <i class="app-menu__icon fa fa-laptop"></i>

                    <span>Games API</span>

                </a>

                <div id="collapseGames" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">

                    <div class="py-2 collapse-inner rounded">

                        <h6 class="collapse-header">Games Features</h6>

            <a class="collapse-item" href="/api/kuis/caklontong?apikey=alpinofc">Cak Lontong</a>

            <a class="collapse-item" href="/api/simi?text=Halo&lang=id">Simi Simi</a>

            <a class="collapse-item" href="/api/kuis/tebakgambar?apikey=alpinofc">Tebak Gambar</a>

            <a class="collapse-item" href="/api/jodoh?nama1=alpin_xploit&nama2=Mega">Ramalan Jodoh</a>

            <a class="collapse-item" href="/api/artinama?nama1=Mega">Arti Nama</a>

            </div>

          </div>

        </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseother" aria-expanded="true"

          aria-controls="collapseother">

          <i class="fab fa-fw fa-wpforms"></i>

          <span>Berita API</span>

        </a>

        <div id="collapseother" class="collapse" aria-labelledby="headingother" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Berita Menu</h6>

            <a class="collapse-item" href="api/berita">BeriBerita

          </div>

        </div>

      </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseother" aria-expanded="true"

          aria-controls="collapseother">

          <i class="fab fa-fw fa-wpforms"></i>

          <span>Other API</span>

        </a>

        <div id="collapseother" class="collapse" aria-labelledby="headingother" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Other Menu</h6>

            <a class="collapse-item" href="api/nulis?text=ZahirGanteng&apikey=alpinofc">Nulis Buku</a>

            <a class="collapse-item" href="api/pastebin?query=case">Pastebin</a>

            <a class="collapse-item" href="api/infonpm?query=zhirrr-api&hostname=zhirrr&apikey=alpinofc">Info NPM</a>

            <a class="collapse-item" href="api/infogempa?apikey=alpinofc">Info Gempa</a>

            <a class="collapse-item" href="api/cuaca?kabupaten=kab bungo&apikey=alpinofc">Info Cuaca</a>

            <a class="collapse-item" href="api/covidindo?apikey=alpinofc">Covid Indo</a>

            <a class="collapse-item" href="api/covidworld?apikey=alpinofc">Covid World</a>

            <a class="collapse-item" href="api/short/tiny?url=google.com&apikey=alpinofc">Short Link</a>

            <a class="collapse-item" href="api/wikipedia?search=jembatan&apikey=alpinofc">Wikipedia</a>

            <a class="collapse-item" href="api/fakedata?country=en&apikey=alpinofc">Fake Data</a>

            <a class="collapse-item" href="api/hilih?kata=aku kan ganteng banget&apikey=alpinofc">Kata Hilih</a>

            <a class="collapse-item" href="api/liriklagu?lagu=sayang&apikey=alpinofc">Lirik Lagu</a>

            <a class="collapse-item" href="api/chordlagu?lagu=sayang&apikey=alpinofc">Chord Lagu</a>

            <a class="collapse-item" href="api/kbbi?kata=pohon&apikey=alpinofc">KBBI</a>

            <a class="collapse-item" href="api/kodepos?kota=jakarta&apikey=alpinofc">Kode Pos</a>

            <a class="collapse-item" href="api/translate?kata=hi&apikey=alpinofc">Translate</a>

            <a class="collapse-item" href="api/gabut?apikey=alpinofc">Gabut</a>

          </div>

        </div>

      </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">

<div class="version"><b>Contact me</b></div>

      </div>

      <li class="nav-item">

          

            <a class="nav-link collapsed" href="/about">

            <i class="fas fa-fw fa-info"></i>

                    <span>About Me</span>

            </a>

      </li>

      <li class="nav-item">

          

            <a class="nav-link collapsed" href="https://wa.me/6289513946766">

            <i class="fab fa-fw fa-whatsapp"></i>

                    <span>WhatsApp</span>

            </a>

      </li>

      <li class="nav-item">

            <a class="nav-link collapsed" href="https://github.com/alpin_xploit666">

            <i class="fab fa-fw fa-github"></i>

                    <span>Github</span>

            </a>

      </li>

      <li class="nav-item">

            <a class="nav-link collapsed" href="https://instagram.com/alpin_xploit">

            <i class="fab fa-fw fa-instagram"></i>

                    <span>Instagram</span>

            </a>

      </li>

      <hr class="sidebar-divider">

      <div class="version"><b>Made With ♥️ By alpin_xploit</b></div>

    </ul>

    <!-- Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

        <!-- TopBar -->

        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">

          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">

            <i class="fa fa-bars"></i>

          </button>

          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown no-arrow">

              

              </a>

              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"

                aria-labelledby="searchDropdown">

                <form class="navbar-search">

                  <div class="input-group">

                    <input type="text" class="form-control bg-light border-1 small" placeholder="Search for..."

                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">

                    <div class="input-group-append">

                      <button class="btn btn-primary" type="button">

                        <i class="fas fa-search fa-sm"></i>

                      </button>

                    </div>

                  </div>

                </form>

              </div>

            </li>

            <li class="nav-item dropdown no-arrow mx-1">

              </a>

              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"

                aria-labelledby="alertsDropdown">

                <h6 class="dropdown-header">

                  Alerts Center

                </h6>

                <a class="dropdown-item d-flex align-items-center" href="#">

                  <div class="mr-3">

                    <div class="icon-circle bg-primary">

                      <i class="fas fa-file-alt text-white"></i>

                    </div>

                  </div>

                  <div>

                    <div class="small text-gray-500">December 12, 2019</div>

                    <span class="font-weight-bold">A new monthly report is ready to download!</span>

                  </div>

                </a>

                <a class="dropdown-item d-flex align-items-center" href="#">

                  <div class="mr-3">

                    <div class="icon-circle bg-success">

                      <i class="fas fa-donate text-white"></i>

                    </div>

                  </div>

                  <div>

                    <div class="small text-gray-500">December 7, 2019</div>

                    $290.29 has been deposited into your account!

                  </div>

                </a>

                <a class="dropdown-item d-flex align-items-center" href="#">

                  <div class="mr-3">

                    <div class="icon-circle bg-warning">

                      <i class="fas fa-exclamation-triangle text-white"></i>

                    </div>

                  </div>

                  <div>

                    <div class="small text-gray-500">December 2, 2019</div>

                    Spending Alert: We've noticed unusually high spending for your account.

                  </div>

                </a>

                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>

              </div>

            </li>

            <li class="nav-item dropdown no-arrow mx-1">

              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"

                aria-haspopup="true" aria-expanded="false">

              </a>

              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"

                aria-labelledby="messagesDropdown">

              </div>

            </li>

            <li class="nav-item dropdown no-arrow mx-1">

              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"

                aria-haspopup="true" aria-expanded="false">

                <i class="fas fa-tasks fa-fw"></i>

                <span class="badge badge-success badge-counter">1</span>

              </a>

              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"

                aria-labelledby="messagesDropdown">

                <h6 class="dropdown-header">

                  Programming Skill

                </h6>

                <a class="dropdown-item align-items-center" href="#">

                  <div class="mb-3">

                    <div class="small text-gray-500">JavaScript

                      <div class="small float-right"><b>80%</b></div>

                    </div>

                    <div class="progress" style="height: 12px;">

                      <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80"

                        aria-valuemin="0" aria-valuemax="100"></div>

                    </div>

                  </div>

                </a>

                <a class="dropdown-item align-items-center" href="#">

                  <div class="mb-3">

                    <div class="small text-gray-500">Java

                      <div class="small float-right"><b>70%</b></div>

                    </div>

                    <div class="progress" style="height: 12px;">

                      <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70"

                        aria-valuemin="0" aria-valuemax="100"></div>

                    </div>

                  </div>

                </a>

                <a class="dropdown-item align-items-center" href="#">

                  <div class="mb-3">

                    <div class="small text-gray-500">HTML

                      <div class="small float-right"><b>20%</b></div>

                    </div>

                    <div class="progress" style="height: 12px;">

                      <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"

                        aria-valuemin="0" aria-valuemax="100"></div>

                    </div>

                  </div>

                </a>

              </div>

            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <li class="nav-item dropdown no-arrow">

              <a class="nav-link dropdown-toggle" href="https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg" id="userDropdown" role="button" data-toggle="dropdown"

                aria-haspopup="true" aria-expanded="false">

                <img class="img-profile rounded-circle" src="img/boy.png" style="max-width: 85px">

                <span class="ml-2 d-none d-lg-inline text-white small">Maman Ketoprak</span>

              </a>

              </div>

            </li>

          </ul>

        </nav>

                	        <!-- Topbar -->

			<div class="col-xl-3 col-md-6 mb-4">

              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                <div class="card-body">

                  <div class="row no-gutters align-items-center">

                    <div class="col mr-2">

                      <div class="text-xs font-weight-bold text-uppercase mb-1">Total User</div>

                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">3</div>

                      <div class="mt-2 mb-0 text-muted text-xs">

                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 11.40%</span>

                        <span>Since last week</span>

                      </div>

                    </div>

                    <div class="col-center">

                      <i class="fas fa-users fa-2x text-danger"></i>

                    </div>

                  </div>

                </div>

              </div>

            </div>

		<section class="section">

	        <div class="container">

	            <div class="columns">

	                <div class="column is-offset-4 is-4">

	                    

	                </div>

	            </div>

	        </div>

	    </section>

        <!-- Container Fluid-->

        <!-- Container Fluid-->

        <div class="container-fluid" id="container-wrapper">

          <!-- Attention -->

          <div id="demo" class="alert alert-danger alert-dismissible" role="alert">

            <button type="button" class="close" data-dismiss="alert" aria-label="Close">

              <span id="demo" aria-hidden="true"></span>

            </button>

        <script>

arrBulan = ["Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"];

var txt = "";

txt += "<p><b>Browser CodeName</b>: " + navigator.appCodeName + "</p>";

txt += "<p><b>Browser Name</b>: " + navigator.appName + "</p>";

txt += "<p><b>Cookies Enabled</b>: " + navigator.cookieEnabled + "</p>";

txt += "<p><b>Browser Online</b>: " + navigator.onLine + "</p>";

txt += "<p><b>Platform</b>: " + navigator.platform + "</p>";

txt += "<p><b>User-Agent</b>: " + navigator.userAgent + "</p>";

var d = new Date();

const jam = d.getHours();

const menit = d.getMinutes();

const detik = d.getSeconds();

const tgl = d.getDate();

const bln = d.getMonth();

const thn = d.getFullYear();

const bulan = arrBulan[bln]

document.write(txt)

document.write("Date : "+ jam +":"+ menit +":"+ detik +"~"+ tgl +"-"+ bulan +"-"+ thn +"<br>Welcome back!")</script>

</div>

<style>

.animated {

	background: #fff;

	color: #F00;

	-webkit-text-fill-color: transparent;

	-webkit-background-clip: text;

	font-size: 25px;

	font-family: Arial Black, Gadget, sans-serif;

	-webkit-text-stroke-width: 1px;

	-webkit-text-stroke-color: #FF0000;

	-webkit-animation: animatedBackground_c 2s infinite alternate;

}



@keyframes animatedBackground_c {

	0% {-webkit-text-stroke-color: #ff8b00}

	10% {-webkit-text-stroke-color: #e8ff00}

	20% {-webkit-text-stroke-color: #5dff00}

	30% {-webkit-text-stroke-color: #00ff2e}

	40% {-webkit-text-stroke-color: #00ffb9}

	50% {-webkit-text-stroke-color: #00b9ff}

	60% {-webkit-text-stroke-color: #002eff}

	70% {-webkit-text-stroke-color: #5d00ff}

	80% {-webkit-text-stroke-color: #e800ff}

	90% {-webkit-text-stroke-color: #ff008b}

	100% {-webkit-text-stroke-color: #ff0000}

}

</style>

<style>

.mengetik

{

	font-size: 15px;

	width: 250px;

	white-space:nowrap;

	overflow:hidden;

	-webkit-animation: ketik 5s steps(50, end);

	animation: ketik 5s steps(50, end);

}



@keyframes ketik{

		from { width: 0; }

}



@-webkit-keyframes ketik{

		from { width: 0; }

}

</style>

    <form action="/api/cekapikey">

      <div class="col-lg-6">

       <div class="card mb-4">

        <div class="card-header py-3">

         <div class="card-body">

          <h6 class="animated">Check Your Apikey</h6>

           <input type="text" class="form-control" placeholder="Your apikey" name="apikey" required>

            <button class="btn btn-danger btn-icon-split">

             <span class="icon text-white-50">

              <i class="fas fa-check"></i>

             </span>

             <span class="text">Check</span>

            </button>

         </div>

        </div>

       </div>

      <!-- Attention -->

          <div class="row">

            <div class="col-lg-6">

              <div class="card mb-4">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                <div class="card-body">

                  <h6><br>API ini free untuk kalian<br><br><br>APIKEY : alpinofc<br></h6>

                  <h6><br><br>Jika anda menemukan bug langsung lapor ke <a href="https://wa.me/6285892766102">saya</a> oke!</h6>

                </div>

              </div>

            </div>

          </div>

          <!--Row-->



          <div class="row">

            <div class="col-lg-12 text-center">

              <p>Follow My Github <a href="https://github.com/alpin_xploit666"

                  class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;GitHub</a></p>

            </div>

          </div>



        </div>

        <!---Container Fluid-->

      </div>

      <!-- Footer -->

      <footer class="sticky-footer bg-white">

        <div class="container my-auto">

          <div class="copyright text-center my-auto">

            <span>Copyright &copy; 2021 - Developed By

              <b><a href="https://github.com/alpin_xploit666" target="_blank">alpin_xploit</a></b>

            </span>

          </div>

        </div>

      </footer>

      <!-- Footer -->

    </div>

  </div>



  <!-- Scroll to top -->

  <a class="scroll-to-top rounded" href="#page-top">

    <i class="fas fa-angle-up"></i>

  </a>



   <script src="vendor/jquery/jquery.min.js"></script>

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <script src="js/ruang-admin.js"></script>

  <script src="vendor/chart.js/Chart.min.js"></script>

  <script src="js/demo/chart-area-demo.js"></script>  

</body>



</html>

